.git
.gitignore
.github
.dockerignore
**/bin
**/obj
**/out
**/publish
**/*.user
**/*.suo
.vs
.vscode
.idea
**/appsettings.Development.json
**/appsettings.*.local.json
.env
.env.*
README.md
docs
TestResults
