root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,js,css,html,cshtml,yml,yaml}]
indent_size = 2

[*.{cs}]
# Namespaces
csharp_style_namespace_declarations = file_scoped:suggestion

# 'this.' qualification
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion

# var preferences
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:silent

# Expression-bodied members
csharp_style_expression_bodied_methods = when_on_single_line:silent

# Usings
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:suggestion

[*.{csproj,props,targets}]
indent_size = 2
